body {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    padding: 1rem 3rem 3rem 3rem;
    line-height: 1.5;
    margin: 0;    
    background-color: aliceblue;
}


h1 {
    font-size: 3rem;
    font-family: 'Roboto Slab', serif;

}

legend {
    font-size: 1.5rem;
    margin: 1rem 0 1rem 0;
}

.details label {
    font-size: 1.4rem;
}

fieldset {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    max-width: 90%;
    border: none;
    margin-bottom: 2rem;
    padding-left: 0;
}

label {
    width: 100%;
    display: block;
    font-size: 1rem;
  }
  
  input, textarea {
    margin: .3rem 0;
    width: 100%;
    height: auto;
    box-sizing: border-box;
  }
    .request-title input {
        width: 3%;
    } 
  
  #date, #time {
    width: 30%;
    margin: 1rem;
  }

  input:focus, select:focus, textarea:focus {
    Border-color: rgb(39, 107, 244);
    Outline:rgb(39, 107, 244) 3px solid;
  }

  
  #submit, #clear {
    font-size: 1.3rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 10px;
    border: 1px solid lightgrey;
    box-shadow: 2px 2px rgb(224, 219, 219);
    margin: 2rem;
  }

  #submit:active, #clear:active {
    background-color: grey;
    color: white;
    border: 2px solid rgb(39, 107, 244);
  }

  .details {
    display: inline-block;
  }

  .details textarea {
    width: 100%;
    resize: vertical;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
  }

